.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  font-size: 1vh;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.App-title {
  font-size: 1.5em;
}

.quote {
  font-size: 2vh;
  font-family: 'Special Elite', cursive;
  margin: 10vh 15vh;
}

h1 {
  padding: 1vh;
}

a {
  color: black;
}
